/* Colors and Fonts*/

body {
	background-color: white;
	color:  rgb(30, 30, 30);
	font-family: Helvetica;
	font-size:  17px;
}

h1 {
	color: darkblue;
	font-family: Helvetica;
	font-weight: 100;
}

h2 {
	color:  darkblue;
	font-family:  Helvetica;
	font-size: 24px;
}
a:hover {
	color: darkblue;
}

div {
	background:  rgb(176, 196, 222);
	border:  2px solid darkblue;
	margin:  10px;
}

/*Custom design */
.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width:  760px) {

	.container {
		width: 600px;
	}
}

@media (max-width:  500px) {

	.container {
		width: 400px;
	}
}